.goa-token-snippet{
  display:flex;
  align-items: center;
}

.goa-token-snippet a {
  font-family:var(--goa-font-family-sans);
}

.copy-icon-logo {
  margin-top: var(--goa-space-2xs);
  margin-left: 10px;
}

.goa-token-snippet pre a {
  display:flex;
}

.goa-token-snippet pre {
  margin-top: var(--goa-space-m);
  margin-bottom: var(--goa-space-xs);
}

.goa-token-snippet__copy-feedback {
  background-color: var(--goa-color-greyscale-100);
  color: var(--goa-color-interactive-default);
  padding: 0;
  margin: 0;
  border-radius: 4px;
}
