.layout a {
    display: block;
}

.layout .sandbox-render {
    border: none;
    display: block;
    margin: 0;
    padding: 0;
}

.layout a[href^="#"]::before {
    display: none;
}

.layout h3:nth-child(1) {
    margin-top: 0;
    padding-bottom: var(--goa-space-l);
}

.layout h3 {
    margin-top: var(--goa-space-2xl);
    padding-bottom: var(--goa-space-l);
}
