.container {
    display:flex;
    align-items: center;
}

.grey-circle {
    width: 8px;
    height: 8px;
    border-radius: 99px;
    background-color: var(--goa-color-greyscale-200);
}

.goa-space-3xs {
    width: 2px;
    height: 22px;
}

.goa-space-2xs {
    width: 4px;
    height: 22px;
}

.goa-space-xs {
    width: 8px;
    height: 22px;
}

.goa-space-s {
    width: 12px;
    height: 22px;
    background-color: #43C4FC;
}

.goa-space-m {
    width: 16px;
    height: 22px;
    background-color: #FF8000;
}

.goa-space-l {
    width: 24px;
    height: 22px;
    background-color: #46CB89;
}

.goa-space-xl {
    width: 32px;
    height: 22px;
    background-color: #FFDC00;
}

.goa-space-2xl {
    width: 48px;
    height: 22px;
}

.goa-space-3xl {
    width: 64px;
    height: 22px;
}

.goa-space-4xl {
    width: 128px;
    height: 22px;
}

.goa-space-3xs, .goa-space-2xs, .goa-space-xs, .goa-space-s, .goa-space-m, .goa-space-l, .goa-space-xl, .goa-space-2xl, .goa-space-3xl, .goa-space-4xl {
    border-radius: var(--goa-border-radius-none);
    opacity: 40%;
}

.goa-space-3xs, .goa-space-2xl {
    background-color: #FF0000;
}

.goa-space-2xs, .goa-space-3xl {
    background-color: #7BE7D2;
}

.goa-space-xs, .goa-space-4xl {
    background-color: #EF80CD;
}