.goa-border-radius-none {
    border-radius:var(--goa-border-radius-none);
}

.goa-border-radius-m {
    border-radius:var(--goa-border-radius-m);
}

.goa-border-radius-none, .goa-border-radius-m {
    height: 24px;
    width: 64px;
    background-color: var(--goa-color-greyscale-400)
}