.goa-icon-size-s {
    height: 18px;
    width: 18px;
}

.goa-icon-size-m {
    height: 24px;
    width: 24px;
}


.goa-icon-size-l {
    height: 32px;
    width: 32px;
}


.goa-icon-size-s, .goa-icon-size-m, .goa-icon-size-l {
    border-radius:var(--goa-border-radius-none);
    background-color: var(--goa-color-emergency-background);
}