.goa-border-width-s {
  height: var(--goa-border-width-s);
}

.goa-border-width-m {
  height: var(--goa-border-width-m);
}

.goa-border-width-l {
  height: var(--goa-border-width-l);
}

.goa-border-width-s, .goa-border-width-m, .goa-border-width-l {
  width: 64px;
  background-color: #333333;
}