
.goa-color-interactive-default, .goa-color-interactive-hover, .goa-color-interactive-focus, .goa-color-interactive-error,
.goa-color-interactive-disabled,  .goa-color-interactive-error-hover, .goa-color-interactive-error-disabled, .goa-color-text-default,
.goa-color-text-secondary, .goa-color-text-light, .goa-color-text-disabled, .goa-color-brand-default , .goa-color-brand-dark,
.goa-color-brand-light, .goa-color-info-default, .goa-color-info-light, .goa-color-info-dark, .goa-color-info-background,
.goa-color-warning-default, .goa-color-warning-light, .goa-color-warning-dark, .goa-color-warning-background, .goa-color-emergency-default,
.goa-color-emergency-light, .goa-color-emergency-dark, .goa-color-emergency-background, .goa-color-success-default, .goa-color-success-light,
.goa-color-success-dark, .goa-color-success-background, .goa-color-critical, .goa-color-greyscale-white, .goa-color-greyscale-100,
.goa-color-greyscale-200, .goa-color-greyscale-400, .goa-color-greyscale-500, .goa-color-greyscale-600, .goa-color-greyscale-700, .goa-color-greyscale-black {

    height: 22px;
    width: 24px;
    border-radius: var(--goa-border-radius-m);
}

.goa-color-greyscale-white, .goa-color-success-background, .goa-color-emergency-background, .goa-color-warning-background, .goa-color-info-background,
.goa-color-text-light {
    border: 1px solid #DCDCDC;
}

.goa-color-interactive-default {
    background-color: var(--goa-color-interactive-default);
}

.goa-color-interactive-hover {
    background-color: var(--goa-color-interactive-hover);
}

.goa-color-interactive-focus {
    background-color: var(--goa-color-interactive-focus);
}

.goa-color-interactive-error {
    background-color: var(--goa-color-interactive-error);
}

.goa-color-interactive-disabled {
    background-color: var(--goa-color-interactive-disabled);
}

.goa-color-interactive-error-hover {
    background-color: #BA0000;
}

.goa-color-interactive-error-disabled {
    background-color: #F58185;
}

.goa-color-text-default {
    background-color: var(--goa-color-text-default);
}

.goa-color-text-secondary {
    background-color: var(--goa-color-text-secondary);
}

.goa-color-text-light {
    background-color: var(--goa-color-text-light);
}

.goa-color-text-disabled {
    background-color: var(--goa-color-text-disabled);
}

.goa-color-brand-default {
    background-color: var(--goa-color-brand-default);
}

.goa-color-brand-dark {
    background-color: var(--goa-color-brand-dark);
}

.goa-color-brand-light {
    background-color: var(--goa-color-brand-light);
}

.goa-color-info-default  {
    background-color: var(--goa-color-info-default);
}

.goa-color-info-light {
    background-color: var(--goa-color-info-light);
}

.goa-color-info-dark {
    background-color: var(--goa-color-info-dark);
}

.goa-color-info-background {
    background-color: var(--goa-color-info-background);
}

.goa-color-warning-default {
    background-color: var(--goa-color-warning-default);
}

.goa-color-warning-light {
    background-color: var(--goa-color-warning-light);
}

.goa-color-warning-dark {
    background-color: var(--goa-color-warning-dark);
}

.goa-color-warning-background {
    background-color: var(--goa-color-warning-background);
}

.goa-color-emergency-default {
    background-color: var(--goa-color-emergency-default);
}

.goa-color-emergency-light {
    background-color: var(--goa-color-emergency-light);
}

.goa-color-emergency-dark {
    background-color: var(--goa-color-emergency-dark);
}

.goa-color-emergency-background {
    background-color: var(--goa-color-emergency-background);
}

.goa-color-success-default {
    background-color: var(--goa-color-success-default);
}

.goa-color-success-light {
    background-color: var(--goa-color-success-light);
}

.goa-color-success-dark {
    background-color: var(--goa-color-success-dark);
}

.goa-color-success-background {
    background-color: var(--goa-color-success-background);
}

.goa-color-critical {
    background-color: #171D23;
}

.goa-color-greyscale-white {
    background-color: var(--goa-color-greyscale-white);
}

.goa-color-greyscale-100 {
    background-color: var(--goa-color-greyscale-100);
}

.goa-color-greyscale-200 {
    background-color: var(--goa-color-greyscale-200);
}

.goa-color-greyscale-400 {
    background-color: var(--goa-color-greyscale-400);
}

.goa-color-greyscale-500 {
    background-color: var(--goa-color-greyscale-500);
}

.goa-color-greyscale-600 {
    background-color: var(--goa-color-greyscale-600);
}

.goa-color-greyscale-700 {
    background-color: var(--goa-color-greyscale-700);
}

.goa-color-greyscale-black {
    background-color: var(--goa-color-greyscale-black);
}

td[rowspan] {
    border-right: 1px solid #DCDCDC;
}

.anchors a {
    display: block;
}


@media screen and (max-width: 1231px) {

    .goa-color-interactive-default, .goa-color-interactive-hover, .goa-color-interactive-focus, .goa-color-interactive-error,
    .goa-color-interactive-disabled,  .goa-color-interactive-error-hover, .goa-color-interactive-error-disabled, .goa-color-text-default,
    .goa-color-text-secondary, .goa-color-text-light, .goa-color-text-disabled, .goa-color-brand-default , .goa-color-brand-dark,
    .goa-color-brand-light, .goa-color-info-default, .goa-color-info-light, .goa-color-info-dark, .goa-color-info-background,
    .goa-color-warning-default, .goa-color-warning-light, .goa-color-warning-dark, .goa-color-warning-background, .goa-color-emergency-default,
    .goa-color-emergency-light, .goa-color-emergency-dark, .goa-color-emergency-background, .goa-color-success-default, .goa-color-success-light,
    .goa-color-success-dark, .goa-color-success-background, .goa-color-critical, .goa-color-greyscale-white, .goa-color-greyscale-100,
    .goa-color-greyscale-200, .goa-color-greyscale-400, .goa-color-greyscale-500, .goa-color-greyscale-600, .goa-color-greyscale-700, .goa-color-greyscale-black {
        height: 36px;
        width: 280px;
    }
}


